/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*cssreset end*/


.wrap{
	width: 800px;
	margin: 0 auto;
}
.header{
	margin-top: 25px;
	height: 100px;
	background: url(../images/back.jpg) repeat-x ;
}
.logo{
	height: 100px;
	width: 320px;
	float: left;
	position:relative;
	background: url(../images/logo.png) no-repeat ;
}
.menu{
	width: 480px;
	float: left;
	display: block;
	position:relative;
}
.logo a{
	position: absolute;
	text-indent: -119988px;
}
/*.menu a{
  display:block;
  text-decoration: none;
}*/
.menu ul{
	list-style: none;
}
.menu li{
	padding-left: 20px;
	display: block;
	float:left;
	text-align: center;
	font-size: 80%;
	font-family:sans-serif;
	font-style: italic;
	font-weight: bold;
	color: #666666;
}
.menu li a{
	display:block;
  	text-decoration: none;
}
.header a{
	display: block;
}
.content{
	width: 800px;
	margin-top: 20px;
	display: block;
	position: relative;
	float: left;
}
.content div.middle{
	width: 800px;
	display: block;
	position: relative;
	float: left;
	padding-bottom: 25px;
	border-bottom: 1px solid #e5e5e5;
}
.content div.middle .left{
	padding-left: 15px;
	width: 510px;
	padding-right: 30px;
	float: left;
	display: block;
	position: relative;
}
.content div.middle .left h1{
	text-decoration: underline; 
	font-size: 140%;
	line-height: 35px; 
	color: #00a0e9; 
	font-family: Corbel;
}
.content div.middle .left h2{
	font-size: 80%;
	line-height: 15px; 
	color: #666666; 
	font-family: Corbel;
}
.content div.middle .right{
	width: 240px;
	float: left;
	height: 140px;
	padding-top: 10px;
	padding-left: 5px;
	box-shadow:4px 4px 30px 2px rgba(20%,20%,40%,0.5);
	background: url(../images/demo.png) no-repeat;
	text-align:center; 
	color: #666666; 
	font-family:sans-serif;
	position: relative;
}
.content div.middle .right p{
	font-size: 70%;
	padding-top: 120px;
}
.content div.down{
	font-family:Arial;
	margin-top: 10px;
	width: 800px;
	display: block;
	float: left;
	position: relative;
	
}

.content div.d_left{
	padding-top: 10px;
	height: 260px;
	width: 240px;
	float: left;
	margin-left: 20px;
	background: url(../images/back2.jpg) repeat-x ;
	text-align:center;
	border-width: 1px; 
	border-color: #CCCCFF; 
	border-style: solid; 
	border-radius: 11px;
	display: block;
	position: relative;

}
.content div.d_left .d_left_content{
	display: block;
	padding: 0px 10px 0px 10px;
	position: relative;

}
.content div.d_main{
	padding-top: 10px;
	height: 260px;
	width: 240px;
	margin-left: 20px;
	float: left;
	background: url(../images/back2.jpg) repeat-x ;
	text-align:center;
	border-width: 1px; 
	border-color: #CCCCFF; 
	border-style: solid; 
	border-radius: 11px;
	display: block;
	position: relative;
}
.content div.d_main .d_main_content{
	display: block;
	padding: 0px 10px 0px 10px;
	position: relative;

}
.content div.d_right{
	padding-top: 10px;
	height: 260px;
	width: 240px;
	margin-left: 20px;
	float: left;
	background: url(../images/back2.jpg) repeat-x ;
	text-align:center;
	border-width: 1px; 
	border-color: #CCCCFF; 
	border-style: solid; 
	border-radius: 11px;
	display: block;
	position: relative;
}
.content div.d_right .d_right_content{
	display: block;
	padding: 0px 10px 0px 10px;
	position: relative;

}
.content div.down h1{
	line-height: 30px;
	color: #696969;
	font-weight:bold;
	font-size: 120%;
	font-family: corbel;
}
.content div.down h3{
	display: block;
	font-size: 80%;
	line-height: 15px;
	color: #666666; 
	font-family: corbel;
}