/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.wrap{
	width: 100%;
	margin: 0 auto;
	background-image: url(images/back_2.jpg);
	background-repeat: repeat; 
	font-family: Microsoft JhengHei;
}
#header {
  height:110px;
  position: relative;

}
#header .header {
	text-align: bottom;
  width:30%;
  height:110px;
  float: left;
}
#header .menu1 {
  width:70%;
  height:65px;
  float: right;

}
#header div.menu1 ul {
	margin: 0;
  padding-top:10px;
  font-size:12px;
  font-family:Arial, Helvetica, sans-serif;
  background:url(/images/000.png);
	float: right;
}
#header div.menu1 li {
	display: inline;
	padding-left:1px;
	float: left;
	text-align:center;
}
#search {
width: 185px;
padding: 10px;
float: left;
background: url(http://lh6.ggpht.com/_HjB26hkIEK8/S4XlLs9e9VI/AAAAAAAAKAI/p5eJFTAe_uM/Search%20004.gif) no-repeat;
}
#s {
width: 160px;
height: 20px;
margin-left: -3px;
margin-top: -3px;
float: left;
border: none;
background: none;
color: #000000;
font-family: Arial;
}
#r {
width: 25px;
height: 25px;
margin-top: -5px;
float: right;
cursor: pointer;
border: none;
background: none;
}
#header .menu2 {
  width:70%;
  height:45px;
  float: right;
  background:green;
}
/* ---------- 大小與定位 ---------- */
#header div.menu2 ul {
    /* 取消ul樣式符號 */
    list-style-type:none;
    /* 重設ul邊界與留白為零 */
    margin:0;
    padding:0;
    /* 內有浮動元件時，需設overflow才會自動調整大小 */
    overflow:auto;
}
#header div.menu2 ul li {
    /* 利用float讓第一層li水平排列 */
    float:left;
}
#header div.menu2 ul li a {
    /* 將a改為區塊元件，以便指定寬高 */
    display:block;
    /* 這邊也要設float，否則IE6會以100%寬度顯示 */
    float:left;
    /* 固定高度 */
    height:45px;
    width: 177px;
    text-align: center;
}
#header div.menu2 ul li ul {
    /* 讓第二層ul跳脫文件流以利定位 */
    position:absolute;
    /* 固定寬度 */
    width:177px;
    /* 避免出現捲軸 */
    overflow:visible;
    /* 讓ul與母階層li相同位置 */
    clear:left;
    margin-top: 45px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}
#header div.menu2 ul li ul li {
    /* 覆寫繼承自第一層的浮動設定 */
    float:none;
    text-align: center;
}
#header div.menu2 ul li ul li a {
    /* 覆寫繼承自第一層的浮動設定 */
    float:none;
    width: 100%;/* 註：display、height、padding繼承第一層的設定 */
}
#header div.menu2 ul li ul li ul {
    margin-top: -45px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 177px;
    width: 100%;
}
#header div.menu2 ul li ul li ul li {
/* width、float繼承第二層，免設定 */
}
#header div.menu2 ul li ul li ul li a {
/* width、float繼承第二層，免設定 */
}
/* ---------- 隱藏與顯示階層 ---------- */
#header div.menu2 ul li ul {
    /* 預先隱藏第二層 */
    visibility:hidden;
}
#header div.menu2 ul li:hover ul {
    /* 觸動第一層時，顯示第二層 */
    visibility:visible;
}
#header div.menu2 ul li:hover ul li ul {
    /* 顯示第二層時，隱藏第三層，避免同時彈出 */
    visibility:hidden;
}
#header div.menu2 ul li ul li:hover ul {
    /* 觸動第二層時，顯示第三層 */
    visibility:visible;
}
#header div.menu2 ul li ul li:hover ul li ul {
    /* 顯示第三層時，隱藏第四層，避免同時彈出 */
    visibility:hidden;
}
#header div.menu2 ul li ul li ul li:hover ul {
    /* 觸動第三層時，顯示第四層 */
    visibility:visible;
}
/* ---------- 以下為美化用，非必需 ---------- */

/* 預設字體 */
#header div.menu2 {
    font-size:18px;
    font-family: Microsoft JhengHei;

}

/* 第一層ul背景色彩與邊框 */
#header div.menu2 ul {
    background:#fd9e01;

}
/* 第一層a字型 */
#header div.menu2 ul li a {
    color:#3a2000;
    text-decoration:none;
    line-height: 45px;
    font-weight:bold;
}

/*第二層ul背景色彩與邊框  */
#header div.menu2 ul li ul {
    background:#FFF;
}
/* 第二層a字型 */
#header div.menu2 ul li ul li a {
    font-size:16px;
    color:#333333;
    text-decoration:none;
}

/* 觸動第一層li時，改變背景色 */
#header div.menu2 ul li:hover, #menu ul li a:hover {
    background:#FFF;
}
#header div.menu2 ul li:hover a {
    color:#333333;
}
/* 觸動第二層以上li時改變背景色 */
#header div.menu2 ul li ul li:hover, #menu ul li ul li a:hover {
    background:#dfdfdf;
}
#pic {
  width:100%;
  height:248px;
  float: left;
  margin-top:5px;
  text-align:center;
  background:#CCCCCC;
}

.center{
	width: 100%;
	margin: 0 auto;
	display: block;
	clear: both;
}
.content{
	border-right: 1px solid #cfcfcf;
	display: block;
	margin: 20px 0 20px 20px;
	padding: 0 20px 0 0;
	position: relative;
	float: left;
	width: 70%;
}
.content div.subject{
	height: 50px;
	margin: 20px 0 0 10px;
	display: block;
}
.content div.subject .NUK{
	color: #3a2000;
	height: 50px;
	float: left;
	background:url(../images/nuk.png) right bottom no-repeat;
	font-size: 28px;
}
.content div.share{
	width: 200px;
	position: relative;
	float: right;
	margin: 3px 25px 0 0;
	display: inline-block;
	clear: both;
}
.content div.share a{
	border:1px solid #cfcfcf;
	float: right;
}
.content div.share p{	
	float: right;
	padding: 10px 10px 0 0;
	font-size: 14px;
}
.content div.news{
	position: relative;
	margin: 60px 0 0 40px;
	display: block;
}
.content div.news h2{
	color: #3a2000;
	position: relative;
	display: block;
	margin: 0 auto;
	font-size: 18px;
}
.content div.news dl{
	min-height: 130px;
	margin: 20px 0 10px 0;
	position: relative;
	padding: 0 0 10px 0;
	border-bottom: 1px dashed #cfcfcf;
}
.content div.news dl dt{
	margin: 0 0 8px 180px;
	padding: 0 0 0 0;
	display: block;
}
.content div.news dl dt h3{
	font-size: 20px;
	color: #3f3a35;
	line-height: 1.7em;
	padding-top:2px;
	float: left;
}
.content div.news dl dt h3 a{
	color: #3f3a35;
	line-height: 1.7em;
	text-decoration: none;
	float: left;
}
.content div.news dl dt span.date{
	font-size: 14px;
	color: #3f3a35;
	text-align: right;
	margin: 0 2px 0 0;
	padding: 13px 0 0 0;
	position: relative;
	display: block;
}
.content div.news dl dd.photo{
	position: absolute;
	top: -10px;
	left: 0;
	margin: 0;
	width: 150px;
}

.content div.news dl dd{
	margin: 0 90px 8px 180px;
	padding: 10px 20px 0 0;
	text-align: justify;
	position: relative;
}
.content div.allpage{
	height: auto;
	margin: 30px 0 40px 0;
	position: static;
	text-align: center;

}
.content div.allpage ul{
	list-style-type: disc;
	margin: 0 0 5px 25px;
	display: inline-block;
}
.content div.allpage li{
	
	margin: 0 0 0 2px;

	display: inline;
}
.content div.allpage li.page a{
	text-decoration: none;
	font-size: 20px;
	color: blue;

}	
.content div.allpage li.active a{
	font-size: 20px;
	font-weight: bolder;
	color: black;
}

.content div.shownews1{
	height: 300px;
	display:block;
	float: left;
	margin-left: 50px;
	margin-top: 20px;

}
.content div.shownews1 h3{
	text-decoration: none;
	color: #fb7600;
}
.content div.shownews2{

}
.content div.shownews2 h3{
	text-decoration: none;
	color: #fb7600;
}


.sidebar{
	width: 22%;
	float: right;
	margin: 60px 20px 20px 0;
	display: block;
	position: relative;
}
.sidebar h3{
	color: #3a2000;
	width: 170px;
	padding:0 30px 10px 0;
	font-size: 24px;
	border-bottom: 2px solid #3f3f3f;
}
.sidebar ul{
	margin: 15px 0 0 0;
	position: relative;
}
.sidebar li{
	width:200px;
	margin: 10px 0 15px 0;
	padding: 0 0 15px 0;
	border-bottom: 1px solid #3f3f3f;
}
.sidebar li a{
	text-decoration: none;
	color: black;
}
.search{
	width: 200px;
	margin: 40px 0 0 0;
}

.search div.data{
	width: 200px;
	padding: 4px 0 4px 4px;
	border: 1px solid #ccc;
}
.search div.data a{
	text-decoration: none;
	color: #ccc;
}
.search div.enter{
	position: relative;
	background: #ccc;
	width: 60px;
	height: 20px;
	margin: 20px 0 0 0;
	padding: 10px 2px 6px 3px;
	border: 1px outset #ccc;
}
.search div.enter a{
	text-decoration: none;
	color: #555555;

	text-align: center;
}
#footer {
  	padding-top:20px;
 	width:100%;
  	height:150px;
  	float: left;
  	background:gray;
}
#footer h5{
	padding: 0 0 0 20px;
	line-height: 18px;
	float: left;
}
#footer div.icon{
	margin: 30px 20px 0 360px;
	position: relative;
	float: left;
}
#footer div.icon img.map{
	margin: 0px 10px 0 0;
	padding: 8.3px 0 0 0;
	position: relative;
}

